<a href="/dashboard/new-post"><button type="submit" class="" id="post-prompt-button">Click to Create a New Post</button></a>


{{#if posts.length}}
<section class="">
  <h2 class="p-5">Your Posts</h2>
  
  <ol>
    {{#each posts as |post|}}
    <li>
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">
        <article class="card">
            <h2>{{post.title}}</h2>
            <div>
                {{post.content}}
            </div>
            <div>
                Posted by: {{post.user.username}} on {{format_date post.created_at}}
            </div>
            {{#if post.comments.length}}
            <h6>Comments:</h6>
            {{/if}}
            <div>
                {{#each post.comments as |single-comment|}}
                <div class="comment">
                {{single-comment.comment_text}}
                :  comment made by {{single-comment.user.username}} on {{format_date single-comment.created_at}}
                </div>
                {{/each}}
            </div>
        </article>
        </a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>