<article class="post">
    <article class="card">
        <h2>{{post.title}}</h2>
        <div>
            {{post.content}}
        </div>
        <div>
            Posted by: {{post.user.username}}
        </div>
        <div>
            {{post.created_at}}
        </div>
        <div>
            {{post.comment.comment_text}}
        </div>
    </article>
</article>