<article class="post">
    <article class="card">
        <h2>{{post.title}}</h2>
        <div>
            {{post.content}}
        </div>
        <div>
            Posted by: {{post.user.username}}
        </div>
        <div>
            {{post.created_at}}
        </div>
        <div>
            {{#each post.comments as |single-comment|}}
            {{single-comment.comment_text}}
            comment made by: {{single-comment.user.username}}
            {{/each}}
        </div>
    </article>
</article>